* {
    box-sizing: border-box;
}

body {
    background: black;
    margin: 0;
    font-family: Roboto, Helvetica, Arial, sans-serif;
}

header {
    display: flex;
    position: fixed;
    width: 100%;
    height: 70px;
    background: #212121;
    color: #fff;
    justify-content: left;
    align-items: center;
}

h1 {
    padding: 10px 70px;
}

nav {
    position: fixed;
    height: 100vh;
    width: 100%;
    pointer-events: none;
}
nav * {
    visibility: visible;
}
nav:focus-within .button {
    pointer-events: none;
}
nav:focus-within .icon-bar:nth-of-type(1) {
    transform: translate3d(0, 8px, 0) rotate(45deg);
}
nav:focus-within .icon-bar:nth-of-type(2) {
    opacity: 0;
}
nav:focus-within .icon-bar:nth-of-type(3) {
    transform: translate3d(0, -8px, 0) rotate(-45deg);
}
nav:focus-within #menu {
    transform: none;
}

.button {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
    -webkit-appearance: none;
    border: 0;
    background: transparent;
    border-radius: 0;
    height: 70px;
    width: 30px;
    cursor: pointer;
    pointer-events: auto;
    margin-left: 25px;
    touch-action: manipulation;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.icon-bar {
    display: block;
    width: 100%;
    height: 3px;
    background: #aaa;
    transition: 0.3s;
}
.icon-bar + .icon-bar {
    margin-top: 5px;
}

#menu {
    margin-top: 70px;
    list-style: none;
    padding: 20px;
    width: 90%;
    max-width: 300px;
    position: absolute;
    top: 0;
    left: 0;
    height: calc(100% - 70px);
    background: #ececec;
    pointer-events: auto;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    transform: translateX(-100%);
    transition: transform 0.3s;
    will-change: transform;
    contain: paint;
}
#menu ul {
    height: 100%;
    display: flex;
    flex-direction: column;
}
#menu li a,
#menu li a:visited,
#menu li a:focus,
#menu li a:link {
    color: black;
    text-decoration: none;
    padding: 10px 5px;
    display: block;
}
#menu li a:hover {
    color: #c07090;
}

main {
    display: flex;
    flex-direction: column;
}

.block {
    background: rgb(46, 46, 46);
    max-width: 360px;
    margin: 100px auto 16px;
    padding: 32px 24px;
    border-radius: 3px;
}
.block h2 {
    color: white;
    font-weight: normal;
    font-size: 16px;
    margin: 0 0 8px;
}
.block h1 {
    color: white;
    font-weight: bold;
    font-size: 22px;
    margin: 0 0 16px;
}
.block p {
    line-height: 140%;
    margin: 16px 0 24px;
    font-size: 14px;
}
.block a {
    display: block;
    text-align: center;
    background: royalblue;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    padding: 16px;
    border-radius: 4px;
}

img {
    width: 300px;
}

@media (max-width: 600px) {
    img {
        width: max(50%);
    }
}
